* {
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(133, 209, 184);
}   

img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about {
    font-size: 20px;
}

.segi {
    color: gray;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
}

.kotak-biodata {
    border-color: rgb(0, 0, 0);
    border-collapse: collapse;   
}

td {
    padding: 5px;
}

h2 {
    color: rgb(42, 67, 14);
}

ol {
    list-style: upper-roman;
    text-align: left;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a::before {
    content: " - ";
}

a::after {
    content: " - ";
}

a:hover {
    color: red;
    font-size: 20px;
    transition-duration: 0.5s;
}